.c-availability {
  cf();
  position: absolute;
  z-index: 100;
  left: $hspacing * 3;
  bottom: $vspacing * 5;
  &_status-text {
    color: $light;
    font-size: $crust;
    margin-bottom: $vspacing*2;
  }
}
