.c-brand-list {
  padding: 0 $hspacing*3;
  +above(m) {
    col(2/3);
  }
  li {
    col(1/2, cycle: 2);
    &:last-child {
      display:none;
    }
    +above(l) {
      col(1/3, uncycle: 2, cycle: 3, gutter: $hspacing);
      &:last-child {
        display: block;
      }
    }
    margin-bottom: $vspacing;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    img {
      width: 80%;
      margin: $vspacing 10%;
    }
    &.sse {
      background-image: url(/static/images/brands/sse-bg.jpg);
    }
    &.bandq {
      background-image: url(/static/images/brands/bandq-bg.jpg);
    }
    &.gov {
      background-color: #005ea5;
    }
    &.dove {
      background-image: url(/static/images/brands/dove-bg.jpg);
    }
    &.nhs {
      background-image: url(/static/images/brands/nhs-bg.jpg);
    }
    &.plusnet {
      background-image: url(/static/images/brands/plusnet-bg.jpg);
    }
    &.pandg {
      background-image: url(/static/images/brands/pandg-bg.jpg);
    }
    &.pampers {
      background-image: url(/static/images/brands/pampers-bg.jpg);
    }
    &.bowmore {
      background-image: url(/static/images/brands/bowmore-bg.jpg);
    }
  }
}
