.c-global-header {
  position: absolute;
  top:0;
  z-index: 100;
  width: 100%;
  .menu-open-false & {
    display: none;
  }
  .menu-open-true & {
    background-color: rgba($dark, .7);
    height: 100vh;
    width: 70vw;
    overflow:hidden;
    right:0;
    left: auto;
    }

  +above(m) {
    .menu-open-false &,
    .menu-open-true & {
      display: block;
      background-color: transparent;
      height: auto;
      cf();
      left:0;
      right: auto;
      width: 100%;
    }
  }
}
