.c-global-nav {
  font-size: $outerCore;
  padding-left:$hspacing*2;
  margin-top: $vspacing*5;
  width: 100%;
  +above(m) {
    float:left;
    width: auto;
    margin-top: 0;
    font-size: $innerCore;
  }
  li {
    +above(m) {
      display: inline-block;
    }
    a {
      display: block;
      text-transform: capitalize;
      padding: 1rem;
      color: $light;
      text-shadow: 1px 1px 1px rgba($dark, .2);
      &:hover,
      &:focus {
        color: #fff;
        background-color: rgba($dark, .2)
      }
    }
  }
}
