.c-landing-page {
  background-color: #8DCCF0;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  padding-top: 6vh;
  min-height: 100vh;
  padding-bottom: 3vh;
  overflow: auto;
  addPaper();
  &_content {
    img {
      width: 15%;
    }
  }
}
