.c-landing-page {
  background-color: $home;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  padding-top: 6vh;
  min-height: 100vh;
  padding-bottom: 3vh;
  overflow: auto;
  addPaper();
  &_content {
    color: $light;
    h1 {

    }
    img {
      width: 15%;
    }
  }
  .o-btn {
    button(#92b82a);
    margin-right: 1rem;
  }
  .o-btn + .o-btn {
    button(#b0c331);
  }
}
