// As most pages share similar styles for content, here are some standards
.c-page-content {
  color: $light;
  padding: $vspacing $hspacing*3
  h1 {
    ff-title();
    line-height: $lineHeight;
    font-size: $crust;
    margin-bottom: $vspacing*2;
  }
  h2 {
    ff-title();
    font-size: $mantle;
  }
  p {
    ff-body();
  }
  img {
    width: 15%;
    z-index: 200;
    filter: drop-shadow( 0 -5px 5px rgba($dark, .2));
  }
}
