.c-roadmap-page {
  pageSetup($generic)
  a {
    color: lighten($generic, 60%);
    &:hover {
      text-decoration: underline;
    }
  }
  &_content {
    span {
      display: block;
      margin-top: $hspacing*2;
      font-size: $smallCopy;
    }
    img {
      display: none;
      +above(m) {
        display: block;
        width: 35%;
        float: right;
        margin: 0;
        margin-right: $hspacing*2;
      }
      +above(l) {
        width: 20%;
        margin-bottom: $vspacing;
      }
    }
  }
}
