.c-skills-page {
  pageSetup($skills)
  a {
    color: lighten($skills, 60%);
    &:hover {
      text-decoration: underline;
    }
  }
  &_content {
    img {
      width: 25%;
      bottom: 3.7rem;
    }
  }
}
