.c-skill-table {
  col(3/4);
  margin-top: -($vspacing*3);
  color: $light;
  padding: 0 $spacing*3
  [class^="skill-level-"], [class*=" skill-level-"] {
    col(1/3);
    display: inline-block;
    padding: $spacing;
  }

  .skill-level-1 {
    background-color: #cd4a3d;
  }

  .skill-level-2 {
    background-color: #E89D25;
  }

  .skill-level-3 {
    background-color: #7a9f2c;
  }

  h1 {
    ff-title();
    text-transform: uppercase;
    padding: $spacing;
    background: rgba($light, .2);
  }

  li {
    padding: ($vspacing/2) $hspacing ;
    span(1/2);
    vertical-align: top;
  }

  p {
    ff-body();
  }
}
