.c-skill-table {
  cf();
  col(1);
  color: $light;
  padding: 0 $spacing*3
  [class^="skill-level-"], [class*=" skill-level-"] {
    cf();
    +above(890px) {
      col(1/3, gutter: 1);
      display: inline-block;
    }
    padding: $spacing;
    margin-top: $vspacing;
  }

  .skill-level-3 {
    background-color: #cd4a3d;
  }

  .skill-level-2 {
    background-color: #E89D25;
  }

  .skill-level-1 {
    background-color: #7a9f2c;
  }

  h1, h2 {
    ff-title();
    text-transform: uppercase;
    padding: $spacing;
    margin-bottom: $vspacing;
    background: rgba($light, .2);
  }

  li {
    padding: ($vspacing/2) $hspacing ;
    +below(890px) {
      span(1/2);
    }
    +above(l) {
      span(1/2);
    }
    vertical-align: top;
  }

  p {
    ff-body();
  }
}
