.c-social-links {
  width: 100%;
  +above(m) {
    width:auto;
    float: right;
    padding: 0 $hspacing*2;
    font-size: $outerCore;
  }
  li {
    span(1/3);
    +above(m) {
      span(1/6);
    }
    a {
      display: block;
      color: #fff;
      font-size: $mantle;
      padding: ($spacing);
      text-shadow: 1px 1px 1px rgba($dark, .2);
      text-align: center;
      span {
        position: absolute;
        left: -9999px;
      }
      &:hover,
      &:focus {
        color: #fff;
        &.fa-facebook-official {
          background-color: #47639E;
        }
        &.fa-twitter {
          background-color: #55ACEE;
        }
        &.fa-dribbble {
          background-color: #C01C6F;
        }
        &.fa-github {
          background-color: #333333;
        }
        &.fa-behance-square {
          background-color: #0079ff;
        }
        &.fa-linkedin-square {
          background-color: #287BBC;
        }
      }
    }
  }
  .menu-open & {
    +below(m) {
      position: absolute;
      bottom:$vspacing;
    }
  }
}
