.c-social-links {
  float: right;
  padding-right: $hspacing*2;
  font-size: $outerCore;
  li {
    display: inline-block;
    a {
      display: block;
      text-transform: capitalize;
      padding: 1rem;
      color: $light;
      text-shadow: 1px 1px 1px rgba($dark, .2);
    }
  }
}
