.c-testimonials-list {
  clear:both;
  padding: 0 $hspacing*2
  +above(m) {
    col(4/5);
  }
  li {
    color: $light;
    position: relative;
    min-height: 12rem;
    padding: ($vspacing/2) $hspacing $vspacing $hspacing*13;
    background-color: rgba($dark, .1);
    img {
      width: auto;
      height: 11rem;
      position: absolute;
      left:($hspacing/2);
      top:($vspacing/2);
    }
    &:nth-child(even) {
      background-color: rgba($light, .1);
    }
  }
  .author {
    display: block;
    margin-top: $vspacing;
    font-weight: bold;
  }
}
