.c-testimonials-page {
  pageSetup($testimonials)
  a {
    color: lighten($testimonials, 60%);
    &:hover {
      text-decoration: underline;
    }
  }
  &_content {
    img {
      display: none;
      +above(m) {
        span(1/6);
        display: block;
        float:right;
        margin-bottom: $vspacing;
      }
    }
  }
}
