ff-title()
  font-family: 'Arvo', sans-serif;
  font-weight: bold;
ff-body()
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: $baseFont*1.6
  +above(m) {
    font-size: $bodyCopy;
  }
button(bgc)
  display: inline-block;
  color: #fff;
  background-color: bgc;
  padding: $vspacing $hspacing*2
  border: 0;
  font-size: $outerCore;
  cursor: pointer;
  border-bottom: 3px solid darken(bgc, 20%);
  &:hover {
    border-color: darken(bgc, 40%);
    background-color: lighten(bgc, 10%);
  }
  &.disabled {
    cursor: auto;
    background: desaturate(bgc, 60%);
    opacity: .6;
  }
pageSetup(theme) {
  background-color: theme;
  padding-top: 6vh;
  min-height: 100vh;
}
addPaper() {
  background-image: url('/static/images/paper.png');
  background-blend-mode: multiply;
}
