// This file is to store commonly used variables.

// Main site colours
$primary   = $000;
$secondary = $fff ;

// Size defaults
$baseFont   = 1rem;
$lineHeight = 1;
$brad       = 3px; // border-radius
$spacing    = 1rem;
$hspacing   = $spacing;
$vspacing   = $spacing;

// Heading levels (names are abstracted)
$crust     = $baseFont * 3.6;
$mantle    = $baseFont * 2.4;
$outerCore = $baseFont * 1.9;
$innerCore = $baseFont * 1.6;

// Standard Text
$lead      = $mantle
$bodyCopy  = $outerCore
$smallCopy  = $innerCore

// Rupture scales
rupture.scale       = 320px 410px 500px 720px 1080px 1280px 1700px;
rupture.scale-names = 'xxs' 'xs' 's' 'm' 'l' 'xl' 'xxl';
